html{
    height: 100%;
}

body{
    background-color: rgb(212, 255, 95);
    
}


.container{
    background-color: rgb(205, 205, 226);
    position: relative;
    width: 900px;
    height: 1200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    border-radius: 20px 20px 120px 20px;
    box-shadow: 8px 8px gray;
    
}

.plusSign1{
    width: 40px;
    height: 130px;
    position: relative;
    background-color: gray;
    margin-left: 190px;
    margin-top: -180px;
    box-shadow: 3px 0px 1px 0px  rgba(85, 85, 85, 0.829);

}

.plusSign2{
    width: 130px;
    height: 40px;
    position: relative;
    background-color: gray;
    margin-left: -45px;
    bottom: -45px;
    box-shadow: 3px 0px rgba(80, 79, 79, 0.788);
   
}

.a{

}

.b{

}


.p1{
    padding-right: 15px;
    font-family: "Turret Road";
    text-align: justify;
    
}
.weekFour{
    
    position: relative;
    padding-bottom: 10px;
    left: 80px;
    font-size: 30px;
    font-family: "Turret Road";
    font-weight: bolder;
    color: rgba(78, 78, 78, 0.904);
    
}

.gameBoy{
    position: relative;
    left: 80px;
    top: 550px;
    font-size: 20px;
    font-family: 'Titillium Web';
    font-weight: bolder;
    color: rgba(78, 78, 78, 0.904);
}

.screenContour{
    background-color: rgb(60, 60, 63);
    position: relative;
    width: 750px;
    height: 500px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 15px 15px 80px 15px;
}


.power{
  background-color:red;
  position: relative;
  left: 65px;
  top:200px;
  height: 15px;
  width: 15px;
  border-radius: 50%;

}

.power:hover{
    background-color:black;
}



.smallScreen{
    background-color: rgba(10, 165, 10, 0.822);
    position: relative;
    width: 465px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    top: -460px;
    overflow: auto;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 20px;
    text-justify: auto;
    box-shadow: inset 4px 4px 4px rgba(32, 71, 16, 0.801);
   
}

.h2{
    font-family: "Turret Road";
}

.h4{
    font-family: "Turret Road";
}