html{
    height: 100%;
}

body{
    background-color: rgb(217, 253, 116);
    
}


.container{
    background-color: rgb(205, 205, 226);
    position: relative ;
    width: 900px;
    height: 1200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    border-radius: 20px 20px 120px 20px;
    box-shadow: 8px 8px gray;
    
}

.plusSign1{
    width: 60px;
    height: 160px;
    position: relative;
    background-color: gray;
    margin-left: 190px;
    margin-top: -180px;
    box-shadow: 3px 0px 0px 0px  rgba(85, 85, 85, 0.829);
    border-radius: 3px 3px 3px 3px;

}

.plusSign2{
    width: 160px;
    height: 60px;
    position: relative;
    background-color: gray;
    margin-left: -50px;
    bottom: -45px;
    box-shadow: 3px 0px rgba(80, 79, 79, 0.788);
    border-radius: 3px 3px 3px 3px;
   
}

.buttonA{
    width: 110px;
    height: 110px;
    background-color: rgb(105, 38, 38);
    border-radius: 70px;
    margin-left: 650px;
    margin-top: -220px;
    position: relative;
    box-shadow: 3px 3px gray;    
    
    
}

.buttonA:hover{
    background-color: brown;
    box-shadow: inset 3px 3px 3px rgb(66, 21, 21);
}

h4{
    font-family: 'Titillium Web';
    padding-left: 48px;
    padding-top: 38px;
    font-size: 135%;
    
}
.buttonB{
    width: 110px;
    height: 110px;
    background-color: rgb(105, 38, 38);
    border-radius: 70px;
    margin-left: 500px;
    margin-top: 30px;
    box-shadow: 3px 3px gray;    
}

.buttonB:hover{
    background-color: brown;
    box-shadow: inset 3px 3px 3px rgb(66, 21, 21);
}

.b{
    text-decoration: none;
    color: black;
    font-size: 170%;
    
}

.p1{
    padding-right: 15px;
    font-family: "Turret Road";
    text-align: justify;
    
}
.weekFour{
    
    position: relative;
    padding-bottom: 10px;
    left: 80px;
    font-size: 30px;
    font-family: "Turret Road";
    font-weight: bolder;
    color: rgba(78, 78, 78, 0.904);
    
}

.gameBoy{
    position: relative;
    left: 80px;
    top: 550px;
    font-size: 20px;
    font-family: 'Titillium Web';
    font-weight: bolder;
    color: rgba(78, 78, 78, 0.904);
}

.screenContour{
    background-color: rgb(60, 60, 63);
    position: relative;
    width: 750px;
    height: 500px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 15px 15px 80px 15px;
}


.power{
  background-color:red;
  position: relative;
  left: 65px;
  top:200px;
  height: 15px;
  width: 15px;
  border-radius: 50%;

}

.power:hover{
    background-color:black;
}



.smallScreen{
    background-color: rgba(10, 165, 10, 0.61);
    position: relative;
    width: 465px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    top: -460px;
    overflow: auto;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 20px;
    text-justify: auto;
    box-shadow: inset 4px 4px 4px rgba(32, 71, 16, 0.801);
   
}

.smallScreen:hover{
    background-color: rgba(3, 179, 3, 0.712);
}

.h2{
    font-family: "Turret Road";
}

.h3{
    font-family: "Turret Road";
}