body{
    background-color: rgb(180, 227, 243);
    background-image:url(img/blue.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;

}

h1{
    /*Week1*/
    color: rgba(0, 0, 139, 0.692);
    font-family: "Titillium Web";
}

h2{
    /*Writing history...*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3{
    /*by*/
    font-size: 90%;
    color: blueviolet;
    font-family: "Titillium Web";
}

.goBack{
    color: rgb(143, 7, 197);
    font-family: "Nanum Pen Script";
    font-size: 110%;
}

.div1{
  /* Top div */
  border-radius: 5px;
  background-color:rgba(111, 206, 250, 0.932);
  width: 850px;
  height: 150px;
  padding: 50px;
  margin: auto;
  box-shadow: 4px 4px rgba(155, 77, 14, 0.61);
}

.div2{
  /* Bottom div */ 
  border-radius: 80px;
  background-color: rgba(202, 242, 255, 0.616);
  width: 850px;
  border: 10px solid rgb(67, 150, 108);
  padding: 50px;
  margin: auto;


}

.img1{
    /* Mermaid man*/
    float: right;


}

.p1{
    /*Links at the bottom*/
    color: rgb(223, 126, 0);
    font-size: 80%;
    text-decoration: none;
}

.text{
    font-family: "Titillium Web";
}
