body{
    margin: auto;
    background-color: rgb(180, 227, 243);

}

h1{
    /*Week1*/
    color: rgba(0, 0, 139, 0.692);
    font-family: "Titillium Web";
}

h2{
    /*Writing history...*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3{
    /*by*/
    font-size: 90%;
    color: blueviolet;
    font-family: "Titillium Web";
}

.goBack{
    color: darkslateblue;
    font-family: "Nanum Pen Script";
    font-size: 110%;
}

.div1{
  /* Top div */
  border-radius: 5px;
  background-color:rgb(111, 206, 250);
  width: 850px;
  height: 150px;
  padding: 50px;
  margin: auto;
}

.div2{
  /* Bottom div */ 
  border-radius: 80px;
  background-color: rgb(180, 227, 243);
  width: 850px;
  border: 10px solid rgb(179, 233, 240);
  padding: 50px;
  margin: auto;


}

.img1{
    /* Mermaid man*/
    float: right;


}

.p1{
    /*Links at the bottom*/
    color: rgb(59, 50, 119);
    font-size: 80%;
}

.text{
    font-family: "Titillium Web";
}
