html{
    height: 100%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 85, 85);
    
}

body {
    font-family: "Montserrat";
    /* changed px to rem, we read it is better for visually impaired people for browsing purposes */
    font-size: 1.2rem;
}

a{
    color: rgb(228, 171, 185);;
    text-decoration: none;
}

/* the container of the page */
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 110px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1.2px solid rgb(235, 187, 209);
}

section{
    margin-top: 20px;
    margin-bottom: 120px;
    border-bottom: 1.2px solid rgb(235, 187, 209);
    padding-bottom: 60px;
    align-items: center;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main2{
    min-height: 300px;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
}

/* our navigation cards */

.flexBoxes {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.flexBoxes :hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

.fboxes1 {
    background-image: url(images/flowers.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 300px;
    width: 30%;   
}

.fboxes2 {
    background-image: url(images/couple.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 300px;
    width: 30%;

}

.fboxes3 {
    background-image: url(images/twoside.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 300px;
    width: 30%;
 }

.fboxes1, .fboxes2 , .fboxes3{
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(177, 177, 177, 0.603);

}


.flexBoxes p {
    font-size: 0.7rem;
    line-height: 1.2rem;
    color:rgb(243, 237, 230);
    margin-top: 10px;
}

.flexBoxes i{
    font-size: 100px;
    color:rgb(252, 252, 252);
    padding-top: 30px;
}


.mainBox {
   flex: 2;
   padding-right: 100px;
}

.secondBox {
    flex: 1;
    padding-top: 20px;
}

h1{
    /* changed px to rem  */
    font-size: 3.5rem;
    font-family: "Caveat";
}

h2{
    font-size: 3rem;
    font-family: "Caveat";
    color: rgb(243, 237, 230);
    margin-top: 20px;
}

h4{
    font-size: 1.5rem;
    font-family: "Montserrat";
    color: rgb(180, 159, 164);
    margin-top: -20px;
    margin-bottom: 30px;
}

p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.secondBox img{
    border-radius: 2px 2px 2px 16px;
    box-shadow: 3px 3px 3px rgba(230, 220, 220, 0.603);
}

nav a.theButton{
    margin-left: 20px;
}

.navButton{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 187, 209);
    padding: 12px 25px;
    font-family: 'Montserrat';
    display: inline-block;
    position: relative;
    border-radius: 2px;
}

/* our fake testimonials */

.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.clientTests{
    width: 45%;
    padding: 45px;
    border: 1px solid rgb(253, 216, 226);
    box-sizing: border-box;
    margin-top: 50px;
}

.clientTests p:last-of-type{
    font-size: 0.9rem;
    padding-left: 30px;
}

/* the navigation menu with the dropdown */

.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.navButton:hover .dropdown{
    display: block;
    margin-left: -28px;
}

.navButton:hover{
    background-color:rgb(250, 223, 230);
    transition-duration: 0.3s;
}

.dropdown .navButton {
   width: 150px; 
   background-color: rgb(250, 223, 230);
   color: rgb(92, 81, 87);
}

.dropdown .navButton a{
    width: 150px; 
    background-color: rgb(250, 223, 230);
    color: rgb(92, 81, 87);
 }

 /* The footer */

 footer{
    min-height: 75px;
    background-color: rgb(247, 212, 222);
    text-align: center;
    padding-top: 20px;
    font-size: 0.7rem;
    color:rgb(92, 81, 87);
    font-family: 'Montserrat';
 }

 p footer{
     font-size: 10px;
 }
 
  /* To go all the way up the page */

 .goUp{
    min-height: 60px;
    margin-top: 90px;
    text-align: center;
 }