html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 85, 85);
}

body {
    font-family: "Montserrat";
    /* changed px to rem, we read it is better for visually impaired people for browsing purposes */
    font-size: 1.2rem;
}

a{
    color: rgb(228, 171, 185);;
    text-decoration: none;
}

/* which contains everything */
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 110px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1.2px solid rgb(235, 187, 209);
}

section{
    margin-top: 20px;
    margin-bottom: 120px;
    border-bottom: 1.2px solid rgb(235, 187, 209);
    padding-bottom: 60px;
    align-items: center;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main2{
    min-height: 300px;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
}

/* 'follow us on instagram' */


.instagram{
  margin-top: 140px;
  margin-bottom: 40px;
 text-align: center;
 font-family: 'Dancing Script';
 font-size: 1.5rem;
}

.instaPics{
  display: flex;
}

/* our navigation cards */

.flexBoxes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgb(235, 179, 193);
    padding-top: 55px;
}

.flexBoxes :hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


.fboxes1 {
    background-image: url(images/flowers.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;   
}

.fboxes2 {
    background-image: url(images/couple.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
   }



.fboxes3 {
    background-image: url(images/twoside.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
 
 }

.fboxes1, .fboxes2 , .fboxes3{
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(177, 177, 177, 0.603);
}


.flexBoxes p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  color:rgb(243, 237, 230);
  margin-top: 10px;
}

.flexBoxes i{
  font-size: 100px;
  color:rgb(252, 252, 252);
  padding-top: 30px;
}


.mainBox {
   flex: 2;
   padding-right: 100px;
}

.secondBox {
    flex: 1;
    padding-top: 20px;
}

h1{
    /* changed px to rem  */
    font-size: 3.5rem;
    font-family: "Caveat";
    /* margin-bottom: 1rem; */
}

h2{
    font-size: 3rem;
    font-family: "Caveat";
    color: rgb(243, 237, 230);
    margin-top: 20px;
}

h4{
    font-size: 1.5rem;
    font-family: "Montserrat";
    color: rgb(180, 159, 164);
    margin-top: -20px;
    margin-bottom: 30px;
}

h5{
  font-size: 2.4rem;
  font-family: 'Dancing Script';
  color: rgb(95, 85, 85);
}

h6{
  font-size: 2.3rem;
  font-family: 'Caveat';
  color: white;
}

h3{
  font-size: 1.5rem;
  font-family: 'Dancing Script';
  color: white;
}

p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}


.secondBox img{
    border-radius: 2px 2px 2px 16px;
    box-shadow: 3px 3px 3px rgba(230, 220, 220, 0.603);
}



nav a.theButton{
    margin-left: 20px;
 
}

.navButton{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 187, 209);
    padding: 12px 25px;
    font-family: 'Montserrat';
    display: inline-block;
    position: relative;
    border-radius: 2px;
}

/* the img of the line organizing the sections */

.line{
  width: 1024px;
  padding-left: 200px;
}

/* our fake testimonials */
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.clientTests{
    width: 45%;
    padding: 45px;
    border: 1px solid rgb(253, 216, 226);
    box-sizing: border-box;
    margin-top: 50px;
}

.clientTests p:last-of-type{
    font-size: 0.9rem;
    padding-left: 30px;
}

/* the navigation menu with the dropdown */
.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.navButton:hover .dropdown{
  display: block;
  margin-left: -28px;
}

.navButton:hover{
  background-color:rgb(250, 223, 230);
  transition-duration: 0.3s;
}

.dropdown .navButton {
 width: 200px; 
 background-color: rgb(250, 223, 230);
 color: rgb(92, 81, 87);
}

.dropdown .navButton a{
  width: 200px;
  background-color: rgb(250, 223, 230);
  color: rgb(92, 81, 87);
}


/* The footer */

 footer{
    min-height: 75px;
    background-color: rgb(247, 212, 222);
    text-align: center;
    padding-top: 20px;
    font-size: 0.7rem;
    color:rgb(92, 81, 87);
    font-family: 'Montserrat';
 }

 p footer{
     font-size: 10px;
 }

 /* To go all the way up the page */

 .goUp{
    min-height: 60px;
    margin-top: 90px;
    text-align: center;
 }

 #services{
  min-height: 300px;
  padding-top: 50px;
  justify-content: center;
  text-align: justify;
 } 

/* A slideshow of our 'previous' work */


     * {
      box-sizing: border-box;
    }
    
    img {
      vertical-align: middle;
    }
    
    /* Position the image container (needed to position the left and right arrows) */
    .container2 {
      position: relative;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: rgb(78, 78, 78);
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #464646;
      font-size: 1.5rem;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* Container for image text */
    .caption-container {
      text-align: center;
      background-color: rgb(231, 179, 192);
      padding: 10px 16px;
      font-family: 'Dancing Script', cursive;
      color: white;
      font-size: 1.5rem;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 16.66%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }

  /* The celebrity wedding section, where cards flip */
  .h5Celeb{
    text-align: center;
    margin-top: 50px;
  }
    
  .celebWork{
    min-height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }

  .celebtext{
    flex: 1;
    margin-left: 40px;
    text-align: justify;
    font-size: 1.1rem;
  }


    .flip-card {
      background-color: transparent;
      width: 380px;
      height: 280px;
      perspective: 1000px;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      background-image: url(images/npwed.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    
    .flip-card-back {
      background-color:rgb(245, 212, 222);
      color: white;
      transform: rotateY(180deg);
     padding: 20px;
    }



    .celebWork2{
      min-height: 300px;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }
  
    .celebtext2{
      flex: 1;
      margin-left: 40px;
      text-align: justify;
      font-size: 1.1rem;
    }
  
  
      .flip-card2 {
        background-color: transparent;
        width: 380px;
        height: 280px;
        perspective: 1000px;
      }
      
      .flip-card-inner2 {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card2:hover .flip-card-inner2 {
        transform: rotateY(180deg);
      }
      
      .flip-card-front2, .flip-card-back2 {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .flip-card-front2 {
        background-image: url(images/mgid_ao_image_mtv.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
      }
      
      .flip-card-back2 {
        background-color:rgb(245, 212, 222);
        color: white;
        transform: rotateY(180deg);
       padding: 20px;
      }
  
      /* the fake kim kardashian tweet */
      .kimtweet{
        text-align: center;
        min-height: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
      }